:root {
  --lightest-blue: #d4eef9;
  --accent: #ffa929;
  --blue-blue: #27aae1;
  --dark-blue: #006989;
  --darkest-blue: #0a2a38;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  background-color: var(--darkest-blue);
  color: var(--darkest-blue);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: var(--blue-blue);
}

.navbar a {
  color: var(--lightest-blue);
  transition: transform 0.25s ease;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0 0.5em;
}

.navbar a:hover {
  color: var(--accent);
  transform: scale(1.25);
  text-shadow: 0 0 5px var(--dark-blue);
}

.navbar a:active {
  color: var(--lightest-blue);
  text-shadow: 0 0 5px var(--lightest-blue);
}

.navbar-toggler {
  background-color: var(--lightest-blue);
  border: none;
}

.col .text-light:hover {
  color: var(--accent) !important;
}

.navbar-toggler:hover {
  background-color: var(--accent);
  border-color: var(--lightest-blue);
}
.primary-box {
  background-color: var(--blue-blue);
  border-radius: 8px;
}
.dark-list {
  background-color: var(--darkest-blue);
  border-radius: 8px;
  color: var(--lightest-blue);
  font-size: 1.5em;
}
